<!doctype html>
<html ng-app="app">

<head>
    <title>Cadastro de Contato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/app.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1 class="page-header">Cadastro de contato</h1>

        <div ng-controller="TabelaCtrl">

            <form name="validarValor">
                <div class="form-group row">
                    <label for="nome" class="col-md-1 col-form-label">Nome:</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="Nome" ng-model="pessoa.nome" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="nascimento" class="col-md-1 col-form-label">Nascimento:</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="__ / __ / ____" id="dataNascimento" name="dataNascimento" ng-model="pessoa.dataNascimento" class="form-control" data-inputmask="'alias': 'date'">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="telefone" class="col-md-1 col-form-label">Telefone:</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="(  ) ____-____" id="telefone" name="telefone" ng-model="pessoa.telefone" class="form-control">
                    </div>
                </div>

                <br>
                <button type="submit" class="btn btn-success" ng-click="saveUser()" ng-hide="edit">
                    <i class="fas fa-plus"></i> adicionar</button>
                
                <button type="submit" class="btn btn-primary" ng-click="applyChange(pessoa.id)" ng-show="edit">
                    <i class="fas fa-check"></i> salvar</button>
            </form>

            <br><br>

            <div class="row">
                <div class="col-sm-8">
                    <h1 class="page-header">Lista de contatos</h1>
                </div>
                <div class="col-sm-4">
                     <input type="search" ng-model="search" class="form-control" placeholder="Buscar por...">
                </div>
            </div>

            <div class="tabela-responsiva">
                <table class="table" id="tabela-contatos">
                    <thead>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pessoa in contatos | filter:search">
                            <td> {{pessoa.nome}} </td>
                            <td> {{pessoa.dataNascimento}} </td>
                            <td> {{pessoa.telefone}} </td>
                            <td>
                                <button class="btn btn-warning btn-small" ng-click="editUser(pessoa.id)" ng-model="checkEdit">
                                        <i class="fas fa-pencil-alt"></i> editar</button>
                                <button class="btn btn-danger btn-small" ng-click="deleteUser(pessoa.id)" ng-model="deleted">
                                        <i class="fas fa-trash-alt"></i> deletar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    <script src="js/app.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

    <script>
            $(document).ready(function() {
                $('#dataNascimento').mask('00/00/0000');
            });

            $(document).ready(function() {
            var behavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            options = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(behavior.apply({}, arguments), options);
                }
            };

            $('#telefone').mask(behavior, options);
            })
    </script>
</body>

</html>